.hero {
 @media screen and (min-width:1023px) {
        &-container {
            background: #000;
            height: 40vh;
            position: relative;
            margin-top: 116px;
            min-height: 590px;
            overflow: hidden;
        }

        &-logo {
            background-image: url(../images/jcr-logo.png);
            background-repeat: no-repeat;
            background-size: cover;
            color: transparent;
            display: block;
            height: 192px;
            width: 190px;
            position: relative;
            z-index: 10;
            margin: 0 auto;
        }

        &-image-list {
            height: 100%;
            position: relative;
            margin: 0 auto;
            max-width: 1200px;
            min-height: 475px;
            width: 100%;
        }

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: transparent;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            opacity: 0;
            z-index: 0;
            animation: imageAnimation 36s linear infinite 0s;
            box-shadow: 0px 11px 28px 0px rgba(0,0,0, .9) inset;

            &:nth-child(1) { 
                background-image: url(../images/1.jpg);
                background-position-y: 50%; 
            }

            &:nth-child(2) { 
                background-image: url(../images/CMConfab-Jump-Castle-Riot-23.jpg);
                background-position-y: 30%;
                animation-delay: 6s; 
            }

            &:nth-child(3) { 
                background-image: url(../images/Apr7.jpg);
                animation-delay: 12s;
                background-position-y: 20%;
            }

            &:nth-child(4) {
                background-image: url(../images/JCR-Royal-Am-Jay.jpg);
                animation-delay: 18s;
                background-position-y: 20%;
            }

            &:nth-child(5) { 
                background-image: url(../images/PoHoJump.jpg);
                background-position-y: 15%;
                animation-delay: 24s; 
            }

            &:nth-child(6) { 
                background-image: url(../images/jun08-2018.jpg);
                background-position-y: 20%;
                animation-delay: 30s;
            }
        }
    }
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}