#navControl{
    
    display: none;
    
    & ~ nav {
        position: absolute;
        width: 100vw;
        top: 100vh;
        height: 0;

        overflow: hidden;
        background-color: rgba(0,0,0, .9); 
        color: #FFF;
        transition: height .5s ease-out, top .5s ease-out;

        @media screen and (min-width:768px) {
            
            background-color: #000;
            height: auto;
            position: static;
            padding: 0;
            width: auto;
        }

    }

    &:checked ~ nav {
        height: 100vh;
        top: 0;

        &.nav-open {
            transition: none;
        }

        @media screen and (min-width:768px) { 
            height: auto;
        }
    }

    &:checked ~ .content,
    &:checked ~ .header .menu-icon {
        display: none;
    }
}

.nav-control {
    display: inline-block;
    height: 30px;
    width: 45px;
    position: relative;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.menu-icon {
    display: block;
    height: 6px;
    width: 100%;
    background: #333;
    border-radius: 9px;


    &:before,
    &:after {
        content: "";
        display: block;
        height: inherit;
        width: inherit;
        border-radius: inherit;
        position: absolute;
        background-color: inherit;
    }

    &:before {
        top: 12px;
    }

    &:after {
        bottom: 0;
    }

    &.close {
        background: transparent;

        &:before,
        &:after {
            background: #fff;
            top: 24px;
        }

        &:before {
            transform: rotate(45deg);
        }
    
        &:after {
            transform: rotate(-45deg);
        }
    }
}

.nav-list {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;

    li {
        
    }

    a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 20px 0;
        width: 100%;
    }

    @media screen and (orientation:landscape) {
        flex-direction: row;
        flex-wrap: wrap;

        li {
            flex: 1 1 50%;
        }
    }

    @media screen and (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;

        li {
            flex: 1 1 auto;
        }
    }
}