* {
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;

    &.nav-open {
        overflow-y: hidden;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    clear: both;
}


.header {
    padding: 10px;
    position: fixed;
    width: 100%;
    display: flex;

    h1 {
        font-weight:900;  
        text-align: center; 
        text-shadow: 2px 2px 4px #000000; 
        color: red;
        margin: -5px 0;
        font-family: Tahoma;
        width: calc(100% - 45px);

        display: none
    }

    @media screen and (min-width:1023px) {
        background-color: #000;
        box-shadow: 0 10px 25px rgba(0,0,0,1);
        height:116px;
        padding: 0;
        z-index: 1;
    }
}

.content {
    background: #e0e0e0;
    padding-bottom: 60px;
}

main {
    flex: 1;
    background-color: #333;    
}


footer {
    background: #000;
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: relative;
}

.landing-page {
    color: #fff;
}

.copyright {
    align-self: center;
    flex: 1 1 auto;
}

.social-media-container {
    align-self: center;
    text-align: right;
    flex: 1 1 auto;

    > * {
        padding-left: 5px;
    }
}

.social-media-icon {
    width: 24px;
}

.content-block {
    height: 200px;
}

@import "splash";
@import "nav";
@import "hero";